.ColorSelect {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  &:hover {
    background-color: #0000001a;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    border-radius: 0.5rem;

  }
}

.colorOptions {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  gap: 0.5rem;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
  padding: 0.5rem;
  z-index: 10;
}